<%- include('../partials/header') %>


<button onclick="history.back()">Go Back</button>
<% if (user) { %>
    <h1>BSN: Syntha-6 vs. Optimum Nutrition: Gold Standard Whey</h1>
    <a href="/"><img src="https://i.ibb.co/7V8M28p/My-project-2.png" alt="syntha" class="protein"></a>
    <img src="https://i.ibb.co/7Q6xy6x/My-project.png" alt="vs" class="vs">
    <img src="https://i.ibb.co/9cqT3QX/My-project-1.png" alt="optimum" class="protein">
<% } else { %>
    <h2>You must be logged in to view this page.</h2>
<% } %>

<%- include('../partials/footer') %>