<%- include('../partials/header') %>
<br>
<br>
<br>
<br>
<br>
<h2 id="hometext">Welcome to my Supplement Review Site!</h2>
<p id="tutorial">Please login and use the menu bar to explore!</p>



<%- include('../partials/footer') %>