<%- include('../partials/header') %>

<p id="tutorial">Starting my fitness journey in 2017, I have had the opportunity to try out many forms of supplements/brands ranging from Protein,
    Creatine, BCAA's, support vitamins, and etc. Going from a aesthetic regime, to back and forth between Powerlifting and Bodybuilding, I have a broad knowledge
    of supplements that will help you towards your fitness goals! Take a look, add a comment, and feel free to add supplements that you may have used in the past 
    or currently!
</p>
<img src="https://i.ibb.co/94DDrNk/My-project.png" alt=""><img src="https://i.ibb.co/94DDrNk/My-project.png" alt="">

<%- include('../partials/footer') %>